{% extends 'base.html'  %}

{% block content %}

<h1>Harry  Potter  The  Boy  Who  Survived</h1>
<br>
<h1>It  was  the  time  of  his  RAISE  and  the  FALL  of  Devil</h1>
<br>
<p>
<B>
Many years ago there was a dark time for wizerding family who are good and pure at heart, but for those who are crule it was there golden era under the darkest but the greatest wizard a real devil know as voldemord.
death eaters haved rule a lot in worst manner that, normal wizards use to afraid of even speaking the name of lord voldemord.
It was worst time for everyone untill the greatest of all lost his life to a new born 1 month old boy, known as Harry Potter. 
After that he become famouse as the only surviver against the dark lord.</B>
</p>

{% endblock %}